/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea
.env.backup
.env.example.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vessel
.env.bak.vessel
docker-compose.yml
/docker
